<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/ZishanAhmed93/tiZishan" version="1.0.0" viewmodes="maximized">
    <tizen:application id="6crBrT4FKL.tiZishan" package="6crBrT4FKL" required_version="4.0"/>
    <author href="https://github.com/ZishanAhmed93" email="ZishanAhmed93@gmail.com">Zishan Ahmed</author>
    <content src="index.html"/>
    <description>A watch application with HRM and GPS Sensor</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>tiZishan</name>
    <tizen:profile name="wearable"/>
</widget>
